<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>

    </head>
    <body>
    <uib-tabset justified="true"
                ng-show="planes[1]"
                style="margin-top: 70px; width: 50%; margin-left: 25%; background-color: white; height: 550px;">
        <uib-tab heading="Planes de pago">
            <table data-ng-init="listaPlanPago()"
                   class="table table-bordered"
                   ng-table="tablePlanes"
                   style="width: 80%; margin-left: 10%; margin-top: 5%;">
                <thead id="headTableProductos">
                    <tr>
                        <th style="text-align: center">ID</th>
                        <th style="text-align: center">Tarjeta</th> 
                        <th style="text-align: center">Plan de pago</th> 
                        <th style="text-align: center">Acciones</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="plan in $data">
                        <th style="text-align: center">{{plan.idPlanesPago}}</th>
                        <th style="text-align: center">{{plan.tarjeta.entidadBancaria.nombreEntidad}} ~ {{plan.tarjeta.nombreTarjeta}}</th>                        
                        <th style="text-align: center">{{plan.nombrePlanesPago}}</th>                        
                        <th style="text-align: center">
                            <button type="button"
                                    class="btn btn-xs btn-info"
                                    data-toggle="modal" 
                                    uib-tooltip="Modificar plan"
                                    data-target="#myModal"
                                    ng-click="seleccionarPlanPago(plan)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" 
                                    class="btn btn-xs btn-danger"
                                    data-toggle="modal" 
                                    uib-tooltip="Eliminar plan"
                                    data-target="#myModalDelete"
                                    ng-click="seleccionarPlanPago(plan)"><span class="glyphicon glyphicon-trash"></span></button>
                        </th>                        
                    </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab heading="Agregar nuevo Plan de Pago">
            <form name="newPlan" class="form-horizontal" style="">
                <center><h3>Nuevo Plan de Pago</h3></center>
                <div class="form-group">                    
                    <label class="control-label col-lg-4">Nombre de plan de pago</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="_planPago.nombrePlanesPago" name="nombrePlan" required
                               data-ng-class='{error: newPlan.nombrePlan.$invalid && !newPlan.$pristine}'/>
                    </div>
                </div>
                <div class="form-group" ng-controller="TarjetaController" data-ng-init="listaTarjetas()">                    
                    <label class="control-label col-lg-4">Tarjeta</label>
                    <div class="col-lg-8">
                        <select name="tarjeta" class="form-control" ng-options="tarjeta as tarjeta.entidadBancaria.nombreEntidad + ' ~ ' + tarjeta.nombreTarjeta  for tarjeta in tarjetas track by tarjeta.idTarjeta" ng-model="_planPago.tarjeta" required
                                data-ng-class='{error: newPlan.tarjeta.$invalid && !newPlan.$pristine}'></select>
                    </div>
                </div>
                <div class="form-group">                    
                    <label class="control-label col-lg-4">Cantidad de cuotas</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="_planPago.cuotasPlanesPago" name="cuotasPlan" required
                               maxlength="2" data-ng-class='{error: newPlan.cuotasPlan.$invalid && !newPlan.$pristine}'/>
                    </div>
                </div>
                <div class="form-group">                    
                    <label class="control-label col-lg-4">Fecha de inicio</label>
                    <div class="col-lg-8">
                        <p class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup ng-model="_planPago.fechaInicioPlanes"
                                   is-open="popup.opened" 
                                   datepicker-options="dateOptions"
                                   ng-required="true"
                                   current-text="Hoy" clear-text="Limpiar" close-text="Cerrar"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">                    
                    <label class="control-label col-lg-4">Fecha de finalizacion</label>
                    <div class="col-lg-8">
                        <p class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup ng-model="_planPago.fechaFinalizacionPlanes"
                                   is-open="popup2.opened" 
                                   datepicker-options="dateOptions"
                                   ng-required="true"
                                   current-text="Hoy" clear-text="Limpiar" close-text="Cerrar"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">                    
                    <label class="control-label col-lg-4">Dia de cierre</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="_planPago.fechaCierre" name="cierraPlan" required
                               maxlength="2" data-ng-class='{error: newPlan.cierraPlan.$invalid && !newPlan.$pristine}'/>
                    </div>
                </div>
                <div class="form-group">                    
                    <label class="control-label col-lg-4">% de interes</label>
                    <div class="col-lg-8">
                        <input type="text"                               
                               class="form-control" ng-model="_planPago.porcentajeInterez" name="porcentajePlan" required
                               maxlength="2" data-ng-class='{error: newPlan.porcentajePlan.$invalid && !newPlan.$pristine}'/>
                    </div>
                </div>
                <div class="form-group">
                    <button ng-click="agregarPlan(_planPago)"
                            type="submit" 
                            class="btn btn-success"
                            ng-disabled="newPlan.$invalid"
                            style="margin-left: 40%;">Agregar</button>
                </div>
            </form>
        </uib-tab>        
    </uib-tabset>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modificar plan de pago</h4>
                </div>
                <div class="modal-body">                    
                    <form name="updatePlan" class="form-horizontal" style="">
                        <center><h3>Modificar Plan de Pago</h3></center>
                        <div class="form-group">                    
                            <label class="control-label col-lg-4">Nombre de plan de pago</label>
                            <div class="col-lg-8">
                                <input type="text"
                                       class="form-control" 
                                       ng-model="planSeleccionado.nombrePlanesPago" 
                                       name="nombrePlan" required
                                       data-ng-class='{error: updatePlan.nombrePlan.$invalid && !updatePlan.$pristine}'/>
                            </div>
                        </div>
                        <div class="form-group" ng-controller="TarjetaController" data-ng-init="listaTarjetas()">                    
                            <label class="control-label col-lg-4">Tarjeta</label>
                            <div class="col-lg-8">
                                <select name="tarjeta" 
                                        class="form-control"
                                        ng-options="tarjeta as tarjeta.entidadBancaria.nombreEntidad + ' ~ ' + tarjeta.nombreTarjeta  for tarjeta in tarjetas track by tarjeta.idTarjeta" 
                                        ng-model="planSeleccionado.tarjeta" required
                                        data-ng-class='{error: updatePlan.tarjeta.$invalid && !updatePlan.$pristine}'></select>
                            </div>
                        </div>
                        <div class="form-group">                    
                            <label class="control-label col-lg-4">Cantidad de cuotas</label>
                            <div class="col-lg-8">
                                <input type="text"
                                       class="form-control"
                                       ng-model="planSeleccionado.cuotasPlanesPago" name="cuotasPlan" required
                                       maxlength="2" data-ng-class='{error: updatePlan.cuotasPlan.$invalid && !updatePlan.$pristine}'/>
                            </div>
                        </div>
                        <div class="form-group">                    
                            <label class="control-label col-lg-4">Fecha de inicio</label>
                            <div class="col-lg-8">                                
                                <p class="input-group">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup ng-model="planSeleccionado.fechaInicioPlanes"
                                           is-open="popup.opened" 
                                           datepicker-options="dateOptions"
                                           ng-required="true"
                                           current-text="Hoy" clear-text="Limpiar" close-text="Cerrar"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">                    
                            <label class="control-label col-lg-4">Fecha de finalizacion</label>
                            <div class="col-lg-8">
                                <p class="input-group">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup ng-model="planSeleccionado.fechaFinalizacionPlanes"
                                           is-open="popup2.opened" 
                                           datepicker-options="dateOptions"
                                           ng-required="true"
                                           current-text="Hoy" clear-text="Limpiar" close-text="Cerrar"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">                    
                            <label class="control-label col-lg-4">Dia de cierre</label>
                            <div class="col-lg-8">
                                <input type="text" 
                                       class="form-control"
                                       ng-model="planSeleccionado.fechaCierre" name="cierraPlan" required
                                       maxlength="2" data-ng-class='{error: updatePlan.cierraPlan.$invalid && !updatePlan.$pristine}'/>
                            </div>
                        </div>
                        <div class="form-group">                    
                            <label class="control-label col-lg-4">% de interes</label>
                            <div class="col-lg-8">
                                <input type="text"
                                       class="form-control" 
                                       max="3"
                                       ng-model="planSeleccionado.porcentajeInterez" 
                                       name="porcentajePlan" required
                                       maxlength="2" data-ng-class='{error: updatePlan.porcentajePlan.$invalid && !updatePlan.$pristine}'/>
                            </div>
                        </div>
                        <div class="form-group">
                            <button ng-click="modificarPlan(planSeleccionado)"
                                    type="submit"
                                    class="btn btn-success"
                                    data-dismiss="modal"
                                    ng-disabled="updatePlan.$invalid" style="margin-left: 40%;">Modificar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar plan de pago</h4>
                </div>
                <div class="modal-body">
                    <center>
                        ¿Desea eliminar esta Plan de pago?
                        <br>
                        <button class="btn btn-danger"
                                ng-click="eliminarPlan()"
                                data-dismiss="modal"
                                >Eliminar</button>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
