<!DOCTYPE html>
<div class="ngdialog-message ngdialog-advertencia" style="width: 400px;">
    <div class="modal-header">
        <center>
            <h3 class="modal-title" style="font-size: medium;">ADVERTENCIA</h3>
        </center>
    </div>
    <div class="modal-body">        
        <center>
            <div class="well">
                <p style="font-size: small; text-transform: uppercase; color: #c12e2a;">Para poder distribuir estos productos debes finalizar la carga primero.</p>

            </div>
        </center>        
    </div>
    <div class="modal-footer" style="text-align: center;">
        <button class="btn btn-md btn-danger"
                ng-click="closeThisDialog('')">Cerrar</button>
    </div>
</div>