<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>        
    </head>
    <body>
    <center><h4>Agregar nuevo Producto</h4></center>
    <form class="form-horizontal" style="width: 60%; margin-top: 40px; margin-left: 20%;">
        <div class="form-group">
            <label class="col-xs-4">Descripcion producto</label>
            <input type="text" class="col-xs-7" ng-model="_producto.descripcion" name="nombreProveedor" required
                   data-ng-class='{error: nuevoProveedor.nombreProveedor.$invalid && !nuevoProveedor.$pristine}'/>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Color</label>
            <input type="text" class="col-xs-7" ng-model="_producto.colorProducto" name="nombreProveedor" required
                   data-ng-class='{error: nuevoProveedor.nombreProveedor.$invalid && !nuevoProveedor.$pristine}'/>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Cantidad</label>
            <input type="text" class="col-xs-7" ng-model="_producto.cantidadProducto" name="nombreProveedor" required
                   data-ng-class='{error: nuevoProveedor.nombreProveedor.$invalid && !nuevoProveedor.$pristine}'/>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Stock minimo</label>
            <input type="text" class="col-xs-7" ng-model="_producto.cantidadMinima" name="nombreProveedor" required
                   data-ng-class='{error: nuevoProveedor.nombreProveedor.$invalid && !nuevoProveedor.$pristine}'/>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Precio de Costo</label>
            <input type="text" class="col-xs-7" ng-model="_producto.precioCosto" name="nombreProveedor" required
                   data-ng-class='{error: nuevoProveedor.nombreProveedor.$invalid && !nuevoProveedor.$pristine}'/>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Precio de Venta</label>
            <input type="text" class="col-xs-7" ng-model="_producto.precioVenta" name="nombreProveedor" required
                   data-ng-class='{error: nuevoProveedor.nombreProveedor.$invalid && !nuevoProveedor.$pristine}'/>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Talla</label>
            <input type="text" class="col-xs-7" ng-model="_producto.talla" name="nombreProveedor" required
                   data-ng-class='{error: nuevoProveedor.nombreProveedor.$invalid && !nuevoProveedor.$pristine}'/>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Fecha de compra</label>
            <input type="date" class="col-xs-7" ng-model="_producto.fechaProducto" name="nombreProveedor" required
                   data-ng-class='{error: nuevoProveedor.nombreProveedor.$invalid && !nuevoProveedor.$pristine}'/>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Temporada</label>
            <div ng-controller="_temporadaController" data-ng-init="listaTemporadas()" >
                <select class="col-xs-7" style="height: 26px;" ng-options="temporada as temporada.nombreTemporada for temporada in temporadas track by temporada.idTemporada" ng-model="_producto.temporada"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Sexo</label>
            <div ng-controller="_sexoController" data-ng-init="listaSexos()" >
                <select class="col-xs-7" style="height: 26px;" ng-options="sexo as sexo.nombreSexo for sexo in sexos track by sexo.idSexo" ng-model="_producto.sexo"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Tipo de producto</label>
            <div ng-controller="_tipoController" data-ng-init="listaTipo()" >
                <select class="col-xs-7" style="height: 26px;" ng-options="tipo as tipo.nombreTipo for tipo in tipos track by tipo.idTipo" ng-model="_producto.tipoProducto"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Categoria</label>
            <div ng-controller="_categoriaController" data-ng-init="listaCategorias()" >
                <select class="col-xs-7" style="height: 26px;" ng-options="categoria as categoria.nombreCategoria for categoria in categorias track by categoria.idCategoria" ng-model="_producto.categoria"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Marca</label>
            <div style="width: 58.5%;" ng-controller="_marcaController" aa-select2="selectMarcasConf" ng-model="_producto.marcas"></div>
        </div>
        <div class="form-group">
            <label class="col-xs-4">Proveedor</label>
            <select style="height: 26px;" class="col-xs-3" ng-controller="_proveedorController" data-ng-init="listaProveedores()" ng-model="_producto.proveedor">
                <option ng-repeat="proveedor in proveedores">{{proveedor.nombreProveedor}}</option>
            </select>
        </div>
        <button class="btn btn-success" ng-click="agregarProducto(_producto)">AGREGAR</button>
    </form>
</body>
</html>
