<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>        
    </head>
    <body>
    <center><h1 style="margin-top: 70px;">Lista de productos</h1></center>

    <table data-ng-init="listaProductos()"
           class="table table-bordered table-condensed"
           ng-show="productos[0]"
           ng-table="tableProductos"
           id="tableProductos">
        <thead id="headTableProductos">
            <tr>
                <th style="text-align: center">ID</th>
                <th style="text-align: center">Descripcion</th> 
                <th style="text-align: center">Cantidad</th> 
                <th style="text-align: center">Talla</th> 
                <th style="text-align: center">Color</th> 
                <th style="text-align: center">Acciones</th> 
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto in $data| orderBy: 'cantidadTotal'"
                ng-class="{ danger: stockMinimo(producto) }"                
                >
                <td style="text-align: center">{{producto.idProducto}}</td>
                <td style="text-align: center"><a href="" ui-sref=".producto-detalle({idProducto:{{producto.idProducto}}})">{{producto.descripcion}}</a></td>
                <td style="text-align: center">{{producto.cantidadTotal}}</td>
                <td style="text-align: center">{{producto.talla| uppercase}}</td>
                <td style="text-align: center">{{producto.colorProducto| uppercase}}</td>                
                <td style="text-align: center">
                    <button class="btn btn-xs btn-danger"
                            type="button"                            
                            data-toggle="modal" data-target="#myModal"
                            uib-tooltip="Remover producto."
                            ng-click="seleccionarProducto(producto)"
                            ><span class="glyphicon glyphicon-remove"></span></button>
                </td>                
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th style="margin-top: 0px;
                    width: 95px;
                    padding-top: 0px;
                    margin-left: 0px;
                    padding-left: 0px;
                    margin-right: 0px;
                    padding-right: 0px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;">
                    <button class="btn btn-warning btn-sm"
                            ng-controller="LoginController" 
                            type="button"
                            uib-tooltip="Agregar nuevo producto"
                            ui-sref="home.producto-agregar">Agregar Producto</button>
                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>


    <!-- Modal finalizar factura-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <center><h4 class="modal-title" id="myModalLabel">¿Remover producto?</h4></center>
                </div>
                <div class="modal-body">
                    <center>
                        <label class="control-label">
                            ¿Continuar?
                        </label>
                        <br>
                        <button class="btn btn-danger"
                                style="margin-top: 20px;"
                                data-dismiss="modal"
                                ng-click="removerProducto()">Remover</button>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>