<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>        
    </head>
    <body>
    <center><h1 style="margin-top: 70px;">Lista de productos</h1></center>

    <table data-ng-init="listaProductos()"
           class="table table-bordered table-condensed"
           ng-show="productos[1]"
           ng-table="tableProductos"
           id="tableProductos">
        <thead id="headTableProductos">
            <tr>
                <th style="text-align: center">ID</th>
                <th style="text-align: center">Descripcion</th> 
                <th style="text-align: center">Cantidad</th> 
                <th style="text-align: center">Talla</th> 
                <th style="text-align: center">Color</th> 
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto in $data">
                <td style="text-align: center">{{producto.idProducto}}</td>
                <td style="text-align: center"><a href="#/producto/{{producto.idProducto}}">{{producto.descripcion}}</a></td>
                <td style="text-align: center">{{producto.cantidadTotal}}</td>
                <td style="text-align: center">{{producto.talla| uppercase}}</td>
                <td style="text-align: center">{{producto.colorProducto | uppercase}}</td>                
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th style="margin-top: 0px;
                    width: 95px;
                    padding-top: 0px;
                    margin-left: 0px;
                    padding-left: 0px;
                    margin-right: 0px;
                    padding-right: 0px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;">
                    <button class="btn btn-warning btn-sm"
                            ng-controller="LoginController"                            
                            uib-tooltip="Agregar nuevo producto"
                            ng-click="go('/agregarProducto')">Agregar Producto</button>
                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>

</body>
</html>