<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>        
    </head>
    <body>
    <uib-tabset justified="true"  style="margin-top: 70px; width: 80%; margin-left: 10%;">
        <uib-tab heading="Lista de Proveedores">
            <table data-ng-init="listaProveedores()" class="table table-hover table-bordered table-striped" style="width: 90%; margin-left: 5%; margin-top: 5%;">
                <thead>
                    <tr>
                        <th style="text-align: center">ID</th>
                        <th style="text-align: center">CUIT</th> 
                        <th style="text-align: center">Nombre proveedor</th> 
                        <th style="text-align: center">Direccion</th> 
                        <th style="text-align: center">Telefono</th> 
                        <th style="text-align: center">Acciones</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="proveedor in proveedores">
                        <th style="text-align: center">{{proveedor.idProveedor}}</th>
                        <th style="text-align: center">{{proveedor.cuitProveedor}}</th> 
                        <th style="text-align: center"><a href="#/proveedor/{{proveedor.idProveedor}}">{{proveedor.nombreProveedor}}</a></th>                        
                        <th style="text-align: center">{{proveedor.direccionProveedor}}</th>                        
                        <th style="text-align: center">{{proveedor.telefonoProveedor}}</th>                        
                        <th style="text-align: center">
                            <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal" ng-click="seleccionarProveedor(proveedor)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" class="btn btn-xs btn-danger" ng-click="eliminarProveedor(proveedor)"><span class="glyphicon glyphicon-trash"></span></button>
                        </th>                        
                    </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab heading="Agregar nuevo Proveedor">
            <form name="nuevoProveedor" class="form-horizontal" style="width: 50%; margin-left: 25%; margin-top: 2%;">
                <center><h3>Nuevo Proveedor</h3></center>                                  
                <div class="form-group">
                    <label class="col-xs-4">Nombre Proovedor</label>
                    <input type="text" class="col-xs-7" ng-model="_proveedor.nombreProveedor" name="nombreProveedor" required
                           data-ng-class='{
                                           error: nuevoProveedor.nombreProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                </div>                    
                <div class="form-group">
                    <label class="col-xs-4">C.U.I.T. Proovedor</label>
                    <input type="text" class="col-xs-7" ng-model="_proveedor.cuitProveedor" name="cuitProveedor" required
                           data-ng-class='{
                                           error: nuevoProveedor.cuitProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                </div>
                <div class="form-group">
                    <label class="col-xs-4">Direccion Proovedor</label>
                    <input type="text" class="col-xs-7" ng-model="_proveedor.direccionProveedor" name="direccionProveedor" required
                           data-ng-class='{
                                           error: nuevoProveedor.direccionProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                </div>
                <div class="form-group">
                    <label class="col-xs-4">Pais</label>
                    <input type="text" class="col-xs-7" ng-model="_proveedor.paisProveedor" name="paisProveedor" required
                           data-ng-class='{
                                           error: nuevoProveedor.paisProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                </div>
                <div class="form-group">
                    <label class="col-xs-4">Provincia</label>
                    <input type="text" class="col-xs-7" ng-model="_proveedor.provinciaProveedor" name="provinciaProveedor" required
                           data-ng-class='{
                                           error: nuevoProveedor.provinciaProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                </div>
                <div class="form-group">
                    <label class="col-xs-4">Localidad</label>
                    <input type="text" class="col-xs-7" ng-model="_proveedor.localidadProveedor" name="localidadProveedor" required
                           data-ng-class='{
                                           error: nuevoProveedor.localidadProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                </div>                
                <div class="form-group">
                    <label class="col-xs-4">Codigo Postal</label>
                    <input type="text" class="col-xs-7" ng-model="_proveedor.codigoPostal" name="codigoPostal" required
                           data-ng-class='{
                                           error: nuevoProveedor.codigoPostal.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                </div>
                <div class="form-group">
                    <label class="col-xs-4">Telefono</label>
                    <input type="text" class="col-xs-7" ng-model="_proveedor.telefonoProveedor" name="telefonoProveedor" required
                           data-ng-class='{
                                           error: nuevoProveedor.telefonoProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                </div>
                <div class="form-group">
                    <label class="col-xs-4">E-mail</label>
                    <input type="text" class="col-xs-7" ng-model="_proveedor.emailProveedor" name="emailProveedor" required
                           data-ng-class='{
                                           error: nuevoProveedor.emailProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                </div>
                <button ng-click="agrearProveedor(_proveedor)" type="submit" class="btn btn-success" ng-disabled="nuevoProveedor.$invalid" style="margin-left: 40%;">Agregar</button>
            </form>
        </uib-tab>
    </uib-tabset>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modificar Proveedor</h4>
                </div>
                <form name="modificarProveedor" class="form-horizontal" style="width: 90%; margin-left: 5%; margin-top: 2%;">
                    <div class="form-group">
                        <label class="col-xs-4">Id Proveedor</label>
                        <input type="text" class="col-xs-7" ng-model="__proveedor.idProveedor" name="idProveedor" required disabled
                               data-ng-class='{
                                           error: modificarProveedor.idProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                    </div>  
                    <div class="form-group">
                        <label class="col-xs-4">Nombre Proovedor</label>
                        <input type="text" class="col-xs-7" ng-model="__proveedor.nombreProveedor" name="nombreProveedor" required
                               data-ng-class='{
                                           error: modificarProveedor.nombreProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                    </div>                    
                    <div class="form-group">
                        <label class="col-xs-4">C.U.I.T. Proovedor</label>
                        <input type="text" class="col-xs-7" ng-model="__proveedor.cuitProveedor" name="cuitProveedor" required
                               data-ng-class='{
                                           error: modificarProveedor.cuitProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4">Direccion Proovedor</label>
                        <input type="text" class="col-xs-7" ng-model="__proveedor.direccionProveedor" name="direccionProveedor" required
                               data-ng-class='{
                                           error: modificarProveedor.direccionProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4">Pais</label>
                        <input type="text" class="col-xs-7" ng-model="__proveedor.paisProveedor" name="paisProveedor" required
                               data-ng-class='{
                                           error: modificarProveedor.paisProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4">Provincia</label>
                        <input type="text" class="col-xs-7" ng-model="__proveedor.provinciaProveedor" name="provinciaProveedor" required
                               data-ng-class='{
                                           error: modificarProveedor.provinciaProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4">Localidad</label>
                        <input type="text" class="col-xs-7" ng-model="__proveedor.localidadProveedor" name="localidadProveedor" required
                               data-ng-class='{
                                           error: modificarProveedor.localidadProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                    </div>                
                    <div class="form-group">
                        <label class="col-xs-4">Codigo Postal</label>
                        <input type="text" class="col-xs-7" ng-model="__proveedor.codigoPostal" name="codigoPostal" required
                               data-ng-class='{
                                           error: modificarProveedor.codigoPostal.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4">Telefono</label>
                        <input type="text" class="col-xs-7" ng-model="__proveedor.telefonoProveedor" name="telefonoProveedor" required
                               data-ng-class='{
                                           error: modificarProveedor.telefonoProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4">E-mail</label>
                        <input type="text" class="col-xs-7" ng-model="__proveedor.emailProveedor" name="emailProveedor" required
                               data-ng-class='{
                                           error: modificarProveedor.emailProveedor.$invalid && !nuevoProveedor.$pristine
                                       }'/>
                    </div>
                    <button ng-click="_modificarProveedor(__proveedor)" data-dismiss="modal" type="submit" class="btn btn-success" ng-disabled="modificarProveedor.$invalid" style="margin-left: 40%;">Modificar</button>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
