<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>        
    </head>
    <body>
    <uib-tabset justified="true"  style="margin-top: 70px; width: 50%; margin-left: 25%;">
        <uib-tab heading="Lista de Categorias">
            <table data-ng-init="listaCategorias()" class="table table-hover table-bordered table-striped" style="width: 80%; margin-left: 10%; margin-top: 5%;">
                <thead>
                    <tr>
                        <th style="text-align: center">ID</th>
                        <th style="text-align: center">Nombre</th> 
                        <th style="text-align: center">Fecha</th> 
                        <th style="text-align: center">Acciones</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="categoria in categorias">
                        <th style="text-align: center">{{categoria.idCategoria}}</th>
                        <th style="text-align: center">{{categoria.nombreCategoria}}</th>                        
                        <th style="text-align: center">{{categoria.fechaCreacion}}</th>                        
                        <th style="text-align: center">
                            <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal" ng-click="seleccionarCategoria(categoria)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" class="btn btn-xs btn-danger" ng-click="eliminarCategoria(categoria)"><span class="glyphicon glyphicon-trash"></span></button>
                        </th>                        
                    </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab heading="Agregar nueva categoria">
            <form name="newCategoria" class="form-horizontal" style="width: 70%; margin-left: 15%; margin-top: 5%;">
                <center><h3>Nueva categoria</h3></center>
                <div class="form-group" style="margin-top: 13%;">                    
                    <label class="col-xs-4">Nombre categoria</label>
                    <input type="text" class="col-xs-7" ng-model="_categoria.nombreCategoria" name="categoria" required
                           data-ng-class='{
                                           error: newCategoria.categoria.$invalid && !newCategoria.$pristine
                                       }'/>
                </div>
                <button ng-click="agrearCategoria(_categoria)" type="submit" class="btn btn-success" ng-disabled="newCategoria.$invalid" style="margin-left: 40%; margin-top: 5%;">Agregar</button>
            </form>
        </uib-tab>        
    </uib-tabset>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modificar Categoria</h4>
                </div>
                <form name="modificarCategoria" class="form-horizontal" id="newAfilidadoModal">    
                    <div class="form-group">                    
                        <label class="col-lg-3 control-label">Id</label>
                        <div class="col-lg-7">
                            <input type="number" class="form-control" ng-model="__categoria.idCategoria" name="idCategoria" required  disabled
                                   data-ng-class='{ error: modificarCategoria.idCategoria.$invalid && !modificarCategoria.$pristine }'/>            
                        </div>
                    </div>    
                    <div class="form-group">                    
                        <label class="col-lg-3 control-label">Nombre categoria</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" ng-model="__categoria.nombreCategoria" name="nombreCategoria" required placeholder="Ingrese nombre de categoria"
                                   data-ng-class='{ error: modificarCategoria.nombreCategoria.$invalid && !modificarCategoria.$pristine }'/>
                        </div>
                    </div> 
                    <center>
                        <div>
                            <button class="btn btn-primary" data-dismiss="modal" ng-click="_modificarCategoria(__categoria)" ng-disabled="modificarCategoria.$invalid">Modificar</button>
                        </div>
                    </center>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>

    </body>
</html>
