<!DOCTYPE html>
<div class="ngdialog-message ngdialog-advertencia" style="width: 400px;">
    <div class="modal-header">
        <center>
            <h3 class="modal-title">¡Advertencia!</h3>
        </center>
    </div>
    <div class="modal-body" style="margin-bottom: 50px;">
        <center>
            <h3>¿Estas seguro de que quieres cerrar?</h3>
            <button class="btn btn-md btn-danger" style="width: 50px;" ng-click="confirm(1)">Si</button>
            <button class="btn btn-md btn-warning" style="width: 50px;" ng-click="closeThisDialog(0)">No</button>
        </center>
    </div>
</div> 