<!DOCTYPE html>
<div class="ngdialog-message">
    <div class="modal-header">
        <center>
            <h3 class="modal-title">Selecciona tipo de comprobante</h3>
        </center>
    </div>
    <div class="modal-body">
        <center>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">Ticket/Factura</label>
                    <select class="form-control"
                            ng-model="comprobanteFiscal"
                            style="width:50%; text-align-last: center;">
                        <option value="" disabled selected>Seleccionar opción</option>
                        <option value="1">Ticket fiscal</option>
                        <option value="2" disabled ng-hide="true">Ticket no fiscal</option>
                        <option value="3">Factura A</option>
                        <option value="4">Factura B</option>
                        <option value="5">Factura C</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="vendedor">Vendedor</label>
                    <div data-ng-init="listaVendedores()">
                        <select class="form-control"
                                style="width:50%; text-align-last: center;"
                                ng-options="vendedor as vendedor.nombre + ' ' + vendedor.apellido for vendedor in vendedores track by vendedor.idUsuario"
                                ng-model="vendedorFiscal">
                            <option value="" disabled selected>Seleccionar opción</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-success"
                        ng-disabled="!(comprobanteFiscal !== null && vendedorFiscal !== null)"
                        ng-click="confirmarImpresion(comprobanteFiscal, vendedorFiscal)"
                        >Imprimir</button>
            </form>
        </center>
    </div>
    <div class="modal-footer">
        <button class="btn btn-md btn-danger"
                ng-click="closeThisDialog('')">Cerrar</button>
    </div>
</div>
