<!DOCTYPE html>
<div class="ngdialog-message ngdialog-advertencia" style="width: 400px;">
    <div class="modal-header">
        <center>
            <h3 class="modal-title" style="font-size: medium;">CONFIRMAR</h3>
        </center>
    </div>
    <div class="modal-body">        
        <center>
            <div class="well">
                <p style="font-size: small;">Una vez finalizada esta acción no podras deshacer los cambios.</p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <span class="control-label" style="font-size: medium;">¿Estas seguro de que quieres continuar?</span>
                    </div>
                    <button class="btn btn-md btn-success" style="width: 50px;" ng-click="finalizarDistribucion()">Si</button>
                    <button class="btn btn-md btn-danger" style="width: 50px;" ng-click="closeThisDialog(0)">No</button>
                </form>
            </div>
        </center>        
    </div>
    <div class="modal-footer">

    </div>
</div>